<?xml version="1.0" encoding="utf-8"?>
<root>
  <config>
    <FLASHSITE value="http://localhost:82/flash/" />
    <BACKUP_FLASHSITE value="http://localhost:82/flash/" />
    <USE_MD5 value="false" />
    <SITE value="http://localhost:82/" />
    <FIRSTPAGE value="http://localhost:82" />
    <REGISTER value="http://localhost:82/" />
    <REQUEST_PATH value="http://localhost:81/" />
    <LOGIN_PATH value="http://localhost:82" siteName="DDT" />
    <FILL_PATH value="http://localhost:82/billing/payment" />
    <POLICY_FILES>
      <file value="http://localhost:82/flash/crossdomain.xml" />
    </POLICY_FILES>
    <FIGHTLIB value="true" />
    <ALLOW_MULTI value="true" />
    <TRAINER_PATH value="tutorial.swf" />
    <MUSIC_LIST value="1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1034,1035,1036,1037,1038,1039,1040,1059,1060,1061,1062,1063,1065,1067,1068,1069,1077" />
    <LANGUAGE value="russia" />
    <PARTER_ID value="1" />
    <STATISTIC value="true" />
    <SUCIDE_TIME value="120" />
    <!-- 战斗中的箱子显示，1箱子，3粽子，4月饼，5南瓜，6铃铛，7灯笼,8新春灯笼 -->
    <GAME_BOXPIC value="1" />
    <ISTOPDERIICT value="true" />
    <COUNT_PATH value="http://assayerhandler.7road.com/" />
    <PHP isShow="false" link="false" site="http://baidu.com/" infoPath="http://stest.ddt.kaixin001.com.cn/test/SnsServer/GetSnsUserPortrait?uid={uid}" />
    <OFFICIAL_SITE value="http://www.7road.com" />
    <GAME_FORUM value="http://hi.baidu.com" />
    <COMMUNITY_FRIEND_PATH isUser="false" value="http://d9.the9.com/webgame/ddt/addfriend.php" />
    <COMMUNITY_INVITE_PATH value="http://d9.the9.com/webgame/ddt/invite.php" />
    <!-- 社区开关-->
    <COMMUNITY_FRIEND_LIST_PATH value="http://10.10.3.161:728/IMFriendsBbs.ashx" snsPath="http://stest.ddt.kaixin001.com.cn/test/SnsServer/NotifySnsUserUpgrade" isexist="false" isexistBtnVisble="false" />
    <COMMUNITY_FRIEND_INVITED_SWITCH value="false" invitedOnline="false" />
    <!-- 新浪微博第1代，把社区显示为微博-->
    <COMMUNITY_MICROBLOG value="false" />
    <!-- 新浪微博第2代-->
    <COMMUNITY_SINA_SECOND_MICROBLOG value="false" />
    <ALLOW_POPUP_FAVORITE value="true" />
    <FILL_JS_COMMAND value="sandaFillHandler" enable="false" />
    <SHIELD_NOTICE value="false" />
    <FEEDBACK enable="true" />
    <!--单机版新手引导的开关-->
    <TRAINER_STANDALONE value="true" />
    <!--3.3之前的新版新手引导开关-->
    <USER_GUILD_ENABLE value="true" />
    <!--远征码头等级限制-->
    <MINLEVELDUPLICATE value="8" />
    <!-- DISABLE_TASK_ID 为禁用的任务的ID，如有多个，请用逗号隔开 for example : 1002,1003,1004,新浪需要屏蔽的任务有378,379,380,381,604 -->
    <DISABLE_TASK_ID value="545,382,383,384,385" />
    <STATISTICS enable="true" />
    <!-- 360游戏统计，包括登陆，进入战斗等-->
    <EXTERNAL_INTERFACE_360 value="http://s.1360.cn/game_event" enable="false" />
    <!--小游戏等级限制开关-->
    <LITTLEGAMEMINLV value="20" />
    <!--联赛开关节点-->
    <!-- 温泉续费开关 -->
    <HOTSPRING value="false" />
    <!-- 桌面收藏开关 -->
    <DAILY enable="false" />
    <!-- 修炼系统开关 -->
    <!-- 工会使命系统开关 -->
    <PLACARD_TASKBTN value="true" />
    <!-- 占卜系统系统开关 -->
    <LOTTERY enable="false" />
    <!-- 工会图标开关 -->
    <BADGEBTN value="true" />
    <!-- 师徒副本开关 -->
    <!-- 公会技能开关 -->
    <GUILD_SKILL enable="true" />
    <!-- 客服系统开关 -->
    <FEEDBACK enable="false" />
    <!--下载登录开关-->
    <DOWNLOAD value="false" />
    <!--跨区大喇叭开关节点-->
    <MODULE>
      <CROSSBUGGLE enable="false" />
    </MODULE>
    <!--- 泰兰德的祝福开关-->
    <!--- 幸运数字的开关-->
    <LUCKY_NUMBER enable="false" />
    <!--  社区配置 	-->
    <OVERSEAS>
      <!-- server服务器名称 key 海外社区功能类别 0,无社区功能1,通用社区,2,越南社区,3、智明星通  4、易游 -->
      <OVERSEAS_COMMUNITY_TYPE value="3" callPath="" callJS="sendFeed" popupBBS="true" server="s1" key="ce7665b4ef73ddded73c92229b734e25" path="http://fb-bemboom-it.biggamenow.com/game_notification.php" />
    </OVERSEAS>
    <!-- 交友中心和结婚的开关-->
    <MODULE>
      <CIVIL enable="true" />
      <CHURCH enable="true" />
    </MODULE>
    <CHAT_FACE>
      <DISABLED_LIST list="38" />
    </CHAT_FACE>
    <GAME_FRAME_CONFIG>
      <!-- 每帧执行的毫秒数,正常值应为40毫秒,并允许在35至45毫秒之间波动  (游戏内正常帧速为 25帧/秒)-->
      <FRAME_TIME_OVER_TAG value="67" />
      <!-- 连续低于上述毫秒的帧数 (游戏内正常帧速为 25帧/秒) -->
      <FRAME_OVER_COUNT_TAG value="25" />
    </GAME_FRAME_CONFIG>
    <SHORTCUT enable="false" />
    <TEXPBTN value="true" />
    <BUFF enable="true" />
    <TEACHER_PUPIL_FB enable="true" />
    <LEAGUE enable="true" />
    <CLIENT_DOWNLOAD value="http://bb.mail.ru/client" />
    <!--套装开关-->
    <SUIT enable="true" />
    <!--游戏边框背景开关-->
    <SHOW_BACKGROUND value="true" />
    <!--跨区大喇叭- -->
    <CROSSBUGGlLEBTN enable="false" />
    <!--副本开关-->
    <DUNGEON_OPENLIST value="1,2,3,4,5,6,7,8,9,10,11,12,13,70001,12016" advancedEnable="true" footballEnable="true" />
    <EXTERNAL_INTERFACE path="http://fb.egame.hk/GameAccess/facebook/ddt/postAction.jsp" enable="false" />
    <!--弹王盟约开关-->
    <KINGBLESS enable="true" />
    <!--一键完成开关-->
    <ONEKEYDONE enable="true" />
    <LEAVEPAGE_SHOW value="true" />
    <EXIT_CLOSE_DUTYWINDOW value="false" />
    <RUSSIA_EDITION value="mail.ru" />
    <GODSYAH enable="true" />
    <EXALTBTN enable="true" />
    <SMALLMAP enable="true" meterEnable="false" borderEnable="false" alphaEnable="true" />
  </config>
  <update>
    <version from="397" to="398">
      <file value="flash/2.png" />
      <file value="flash/ui/russia/language.png" />
      <file value="flash/ui/russia/xml/xml.png" />
      <file value="flash/ui/russia/swf/farm.swf" />
      <file value="2.png" />
      <file value="ui/russia/language.png" />
      <file value="ui/russia/xml/xml.png" />
      <file value="ui/russia/swf/farm.swf" />
    </version>
    <version from="398" to="399">
      <file value="flash/partical.xml" />
      <file value="flash/shape.swf" />
      <file value="flash/ui/russia/swf/ddthallIcon.swf" />
      <file value="partical.xml" />
      <file value="shape.swf" />
      <file value="ui/russia/swf/ddthallIcon.swf" />
    </version>
    <version from="399" to="400">
      <file value="flash/2.png" />
      <file value="flash/ui/russia/language.png" />
      <file value="flash/ui/russia/swf/ddthallIcon.swf" />
      <file value="flash/ui/russia/swf/ddtshop.swf" />
      <file value="flash/ui/russia/swf/playerDress.swf" />
      <file value="2.png" />
      <file value="ui/russia/language.png" />
      <file value="ui/russia/swf/ddthallIcon.swf" />
      <file value="ui/russia/swf/ddtshop.swf" />
      <file value="ui/russia/swf/playerDress.swf" />
    </version>
  </update>
</root>